#homebutton {
    
    padding-right: 61px;

}
#javascriptbutton {
    
    padding-right: 61px;

}
#appsbutton {
    
    padding-right: 61px;

}
background {
    
    padding-left: 0px;
    
}
